<!-- <div class="task" (dblclick)="handleToggleTask(task)">
  <div [ngClass]="{ sidebar: task.status }"></div>
  <div class="taskWrapper">
    <div class="d-flex taskContainer">
      <p>{{ task.title }}</p>
      <p>{{ task.day }}</p>
      <p class="closeIcon btn btn-sm">
        <fa-icon
          [icon]="faTimes"
          class="btn-danger p-1"
          (click)="handleDeleteTask(task)"
        ></fa-icon>
      </p>
    </div>

    <p>{{ task.status }}</p>
  </div>
</div> -->
<div
  (dblclick)="handleToggleTask(task)"
  class="{{
    task.status
      ? 'card text-white bg-secondary mb-3 mt-5'
      : 'card text-white bg-primary mb-3 mt-5'
  }}"
>
  <div class="card-header d-flex justify-content-between">
    <p>{{ task.day }}</p>
    <fa-icon class="cursor" [icon]="faTimes" (click)="handleDeleteTask(task)"></fa-icon>
  </div>
  <div class="card-body">
    <p class="card-text">{{ task.title }}</p>
  </div>
</div>
